body{
    margin:0  auto;
    padding:0;
}
.flexible-container{
    width: 980px;
     margin-left: 15%;
    background-color: antiquewhite;
    display:flex;
    align-items: center;
    justify-content: center;
}